html, body {
  width: 100%;
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-modern {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 20px;
  background-color: blue;
  color: #fff;
  transition: all .4s ease;
  text-transform: uppercase;
  border: none;
}

.btn-modern:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 5px 0px rgba(177, 177, 177, 1);
  background-color: lightskyblue;
  color: #000;
}
